In [2]:
import json
import numpy
import pandas as pd
import io

In [7]:
file_path = '../available_data/history.json'

In [9]:
df = pd.read_json(file_path, lines=True)

In [10]:
df

       number                                            history
0      300000  [{'timestamp_from': '18.01.2022 08:50', 'times...
1      300001  [{'timestamp_from': '12.01.2022 10:45', 'times...
2      300002  [{'timestamp_from': '17.01.2022 08:42', 'times...
3      300003  [{'timestamp_from': '22.02.2022 16:16', 'times...
4      300004  [{'timestamp_from': '12.01.2022 10:08', 'times...
...       ...                                                ...
47097  350020  [{'timestamp_from': '21.11.2022 09:38', 'times...
47098  350021  [{'timestamp_from': '03.11.2022 13:03', 'times...
47099  350022  [{'timestamp_from': '14.12.2022 16:07', 'times...
47100  350023  [{'timestamp_from': '02.11.2022 13:28', 'times...
47101  350024  [{'timestamp_from': '12.11.2022 07:15', 'times...

[47102 rows x 2 columns]

In [11]:
pd.json_normalize(df.history[0])

,timestamp_from,timestamp_to,reason,change
0,18.01.2022 08:50,,Получено уведомление,Получил уведомление
1,18.01.2022 08:50,20.01.2022 09:59,Получено уведомление,Очакващ отговор
2,18.01.2022 08:50,20.01.2022 09:26,Получено уведомление,Получил уведомление
3,12.01.2022 10:02,18.01.2022 08:50,В процес на обработка,Очакващ отговор
4,12.01.2022 10:02,18.01.2022 08:20,В процес на обработка,В процес на обработка
5,12.01.2022 08:49,12.01.2022 10:02,,Чакащ обработка

In [13]:
def json_to_series(text):
    keys, values = zip(*[(dct['label'], dct['value']) for dct in json.loads(text)])
    return pd.Series(values, index=keys)

In [14]:
pd.concat([df, df['history'].apply(json_to_series)], axis=1)

TypeError: the JSON object must be str, bytes or bytearray, not list

In [15]:
data = []

with open(file_path, encoding='utf-8') as file:
    for line in file:
        obj = json.loads(line)
        data.append(obj)

In [16]:
json_string = json.dumps(data)  # Convert data list to JSON string
json_dict = json.loads(json_string)  # Load JSON string as a Python object

In [68]:
json_dict = json.load(io.StringIO(data))

TypeError: initial_value must be str or None, not list

In [71]:
pd.concat([pd.DataFrame(json_dict), pd.DataFrame(list(json_dict['answers']))], axis=1).drop('answers', 1)

TypeError: list indices must be integers or slices, not str

In [18]:
combined_dict = {
    'number': [obj['number'] for obj in json_dict],
    'history': [obj['history'] for obj in json_dict]
}

df = pd.concat([pd.DataFrame(combined_dict), pd.DataFrame(list(combined_dict['history']))], axis=1).drop('history', 1)

C:\Users\ebasii\AppData\Local\Temp\ipykernel_69036\4063556822.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = pd.concat([pd.DataFrame(combined_dict), pd.DataFrame(list(combined_dict['history']))], axis=1).drop('history', 1)

In [19]:
df[df[2].notnull()]

,number,0,1,2,3,4,5,6,7,8,9
0,300000,"{'timestamp_from': '18.01.2022 08:50', 'timest...","{'timestamp_from': '18.01.2022 08:50', 'timest...","{'timestamp_from': '18.01.2022 08:50', 'timest...","{'timestamp_from': '12.01.2022 10:02', 'timest...","{'timestamp_from': '12.01.2022 10:02', 'timest...","{'timestamp_from': '12.01.2022 08:49', 'timest...",None,None,None,None
2,300002,"{'timestamp_from': '17.01.2022 08:42', 'timest...","{'timestamp_from': '17.01.2022 08:32', 'timest...","{'timestamp_from': '12.01.2022 10:06', 'timest...","{'timestamp_from': '12.01.2022 08:52', 'timest...",None,None,None,None,None,None
3,300003,"{'timestamp_from': '22.02.2022 16:16', 'timest...","{'timestamp_from': '15.01.2022 18:26', 'timest...","{'timestamp_from': '12.01.2022 10:07', 'timest...","{'timestamp_from': '12.01.2022 08:52', 'timest...",None,None,None,None,None,None
4,300004,"{'timestamp_from': '12.01.2022 10:08', 'timest...","{'timestamp_from': '12.01.2022 10:08', 'timest...","{'timestamp_from': '12.01.2022 10:08', 'timest...","{'timestamp_from': '12.01.2022 09:10', 'timest...",None,None,None,None,None,None
5,300005,"{'timestamp_from': '12.01.2022 10:10', 'timest...","{'timestamp_from': '12.01.2022 10:10', 'timest...","{'timestamp_from': '12.01.2022 10:10', 'timest...","{'timestamp_from': '12.01.2022 09:13', 'timest...",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
47097,350020,"{'timestamp_from': '21.11.2022 09:38', 'timest...","{'timestamp_from': '28.10.2022 16:26', 'timest...","{'timestamp_from': '20.10.2022 11:46', 'timest...","{'timestamp_from': '20.10.2022 11:46', 'timest...",None,None,None,None,None,None
47098,350021,"{'timestamp_from': '03.11.2022 13:03', 'timest...","{'timestamp_from': '22.10.2022 07:56', 'timest...","{'timestamp_from': '20.10.2022 11:58', 'timest...","{'timestamp_from': '20.10.2022 11:52', 'timest...",None,None,None,None,None,None
47099,350022,"{'timestamp_from': '14.12.2022 16:07', 'timest...","{'timestamp_from': '28.10.2022 16:32', 'timest...","{'timestamp_from': '20.10.2022 11:59', 'timest...","{'timestamp_from': '20.10.2022 11:54', 'timest...",None,None,None,None,None,None
47100,350023,"{'timestamp_from': '02.11.2022 13:28', 'timest...","{'timestamp_from': '26.10.2022 14:44', 'timest...","{'timestamp_from': '20.10.2022 12:36', 'timest...","{'timestamp_from': '20.10.2022 11:56', 'timest...",None,None,None,None,None,None
47101,350024,"{'timestamp_from': '12.11.2022 07:15', 'timest...","{'timestamp_from': '21.10.2022 08:50', 'timest...","{'timestamp_from': '20.10.2022 11:59', 'timest...","{'timestamp_from': '20.10.2022 11:57', 'timest...",None,None,None,None,None,None

In [23]:
df_expanded = df['number'].to_frame()  # Create a dataframe with the 'number' column
for col_name in df.columns:
    if col_name != 'number':
        expanded_df = pd.json_normalize(df[col_name]).add_suffix(f"_{col_name}")
        df_expanded = pd.concat([df_expanded, expanded_df], axis=1)

In [24]:
df_expanded

,number,timestamp_from_0,timestamp_to_0,reason_0,change_0,timestamp_from_1,timestamp_to_1,reason_1,change_1,timestamp_from_2,...,reason_7,change_7,timestamp_from_8,timestamp_to_8,reason_8,change_8,timestamp_from_9,timestamp_to_9,reason_9,change_9
0,300000,18.01.2022 08:50,,Получено уведомление,Получил уведомление,18.01.2022 08:50,20.01.2022 09:59,Получено уведомление,Очакващ отговор,18.01.2022 08:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300001,12.01.2022 10:45,,В процес на обработка,В процес на обработка,12.01.2022 08:50,12.01.2022 10:45,,Чакащ обработка,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,300002,17.01.2022 08:42,,Получено уведомление,Получил уведомление,17.01.2022 08:32,17.01.2022 08:42,Очакващ отговор,Очакващ отговор,12.01.2022 10:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,300003,22.02.2022 16:16,,Получено уведомление,Получил уведомление,15.01.2022 18:26,15.01.2022 18:28,Очакващ отговор,Очакващ отговор,12.01.2022 10:07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300004,12.01.2022 10:08,,В процес на обработка,Получил уведомление,12.01.2022 10:08,14.01.2022 09:04,В процес на обработка,Очакващ отговор,12.01.2022 10:08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47097,350020,21.11.2022 09:38,,Получено уведомление,Получил уведомление,28.10.2022 16:26,28.10.2022 16:51,Очакващ отговор,Очакващ отговор,20.10.2022 11:46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47098,350021,03.11.2022 13:03,,Получено уведомление,Получил уведомление,22.10.2022 07:56,22.10.2022 08:27,Очакващ отговор,Очакващ отговор,20.10.2022 11:58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47099,350022,14.12.2022 16:07,,Получено уведомление,Получил уведомление,28.10.2022 16:32,28.10.2022 16:52,Очакващ отговор,Очакващ отговор,20.10.2022 11:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47100,350023,02.11.2022 13:28,,Получено уведомление,Получил уведомление,26.10.2022 14:44,26.10.2022 14:45,Очакващ отговор,Очакващ отговор,20.10.2022 12:36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47101,350024,12.11.2022 07:15,,Получено уведомление,Получил уведомление,21.10.2022 08:50,21.10.2022 09:28,Очакващ отговор,Очакващ отговор,20.10.2022 11:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
expanded_columns = []  # Store the expanded columns

for col_name in [0, 1, 2]:
    expanded_df = pd.json_normalize(df[col_name]).add_suffix(f"_{col_name}")
    expanded_columns.append(expanded_df)

df_expanded = pd.concat([df['number']] + expanded_columns, axis=1)

In [105]:
df_expanded

,number,documents_0,registration_date_0,registration_number_0,annotation_0,documents_1,registration_date_1,registration_number_1,annotation_1,documents_2,registration_date_2,registration_number_2,annotation_2
0,300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,300001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,300002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,300003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300004,Няма,14.01.2022 08:38,СОА22-КЦ51-3310,Във връзка с Ваш сигнал относно лошото състоян...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2420,302420,Няма,03.02.2022 09:14,СОА22-КЦ51-8561,"Сигналът Ви е изпратен за проверка до фирмата,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2421,302421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2422,302422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2423,302423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2424,302424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN